{% load staticfiles %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <div class="logo">
            <a href="/"><img src="{% static 'img/index_new/logo.png' %}" alt="Emotion Control" width="500"></a>
          </div>
          <br>
          <br>

          <h2>Изменение пароля</h2>
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li style="color: #F3A233" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
          <form role="form" action="" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="id_new_password1">Новый пароль:</label>
                <div style="color: #F3A233">
                    {{ form.new_password1.errors }}
                </div>
                <input value="{{ form.new_password1.text }}" id="id_new_password1" name="new_password1" type="password" class="form-control"/>
            </div>
            <div>
                <label for="id_new_password2">Новое подтверждение пароля:</label>
                <!--<ul class="errorlist"><li>{{ form.new_password2.error }}</li></ul>-->
                <div style="color: #F3A233">
                    {{ form.new_password2.errors }}
                </div>
                <input value="{{ form.new_password2.text }}" id="id_new_password2" name="new_password2" type="password" class="form-control"/>
            </div>
              <br>
            <div>
                <button type="submit" class="btn btn-default">Отправить</button>
            </div>
          </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>


<!--<form action="" method="post">{% csrf_token %}-->
    <!--{{ form.as_p }}-->
    <!--<input type="submit" value="Send message" />-->
<!--</form>-->

