
#wrapper {
  /*ширина відступу*/
  padding-left: 201px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -201px;
  top: 51px;
  left: 201px;
  /*ширина лівого меню*/
  width: 201px;
  background: #e0e0e0;

  position: fixed;

  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;

  border-right-style: solid;
  border-right-width: 1px;
  border-color: #e1e1e1;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 201px;
  list-style: none;

}

.sidebar-nav li {
  line-height: 20px;
  text-indent: 20px;
}

.sidebar-nav li a {
  /*color: #999999;*/
  color: #41484c;
  display: block;
  text-decoration: none;
  padding-left: 60px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 201px;
}

#wrapper.active #sidebar-wrapper {
  left: 201px;
  width: 201px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {


  width: auto;
  height: 100%;
}