{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- <script src="js/jquery.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <!-- // <script src="js/bootstrap.min.js"></script> -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'bootstrap/js/jquery.easing.min.js' %}"></script>
    <!-- // <script src="js/jquery.easing.min.js"></script> -->

    <script src="{% static 'bootstrap/js/scrolling-nav.js' %}"></script>
    <!-- // <script src="js/scrolling-nav.js"></script> -->

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/scrolling-nav.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/footer_try.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {% include "template_ga.html" %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar  navbar-fixed-top" role="navigation" style="background-color: #f9f9f9; border-color: #e1e1e1">
        <div class="container" >
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../#page-top">Emotional Control</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="../#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/courses">Курсы</a>
                    </li>
                    <!--<li>-->
                        <!--<a class="page-scroll" href="/articles">Статті</a>-->
                    <!--</li>-->
                    <li>
                        <a class="page-scroll" href="/trener">Инструктор</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/about">О программе</a>
                    </li>
                    <li>
                        <a href="/">Войти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container" style="padding-top: 100px">
        {% block content%}
        {% endblock %}
    </div>
    {% block footer%}
    {% include "template_footer_public.html" %}
    {% endblock %}

</body>

</html>
