{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EQ - тренер</title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/scrolling-nav.css' %}" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    
    <script type="text/javascript">
    $(function() { 
        $("#btn_unsubscribe").click(function(){
            console.log('Clicked')
            $(document).ready(function(){
                $("#myModalBox").modal('show');
            });
        });
    });

    $(function() { 
        $("#btn_unsubscribe_2").click(function(){
            console.log('Clicked btn_unsubscribe_2')
            $("#myModalBox").modal('hide');
            $.ajax({
                url : "/unsubscribe_course/",
                type : "GET",
                data : {
                    id: '{{ course.id }}',
                },

                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    console.log("Success"); // another sanity check
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    console.log("Unsuccess"); // another sanity check      
                }
            });
            location.reload();     
        });
    });
    $(function() { 
        $("#btn_subscribe").click(function(){
            console.log('Clicked btn_subscribe')
            $.ajax({
                url : "/subscribe_course/",
                type : "GET",
                data : {
                    id: '{{ course.id }}',
                },

                // handle a successful response
                success : function(json) {
                    console.log(json); // log the returned json to the console
                    console.log("Success"); // another sanity check
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    console.log("Unsuccess"); // another sanity check      
                }
            });
            location.reload();     
        });
    });

    </script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-inverse navbar-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="../../#page-top">EQ - тренер</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="../../#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../../#course">Курси</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../../#article">Статті</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../../#trener">Тренажер</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../../#helper">Допомога</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../../#detailer">Детальніше</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container" style="padding-top: 0px;">

    <br>
        <div class="row" >
            <div class="col-xs-7">
                <h1 class="text-center">{{ course.name }}</h1>
                <h4 class="text-center">{{ course.tags }}</h4>
                {% if subscribe %}
                <a class="btn btn-primary center-block" id='btn_unsubscribe'>Відписатись від курсу</a>
                <!--  href="/unsubscribe_course/?id={{ course.id }}" -->
                {% else %}
                <a class="btn btn-primary center-block" id='btn_subscribe'>Пройти курс</a>
                {% endif %}
            </div>
            <div class="col-xs-5">
                <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ course.video }}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <p class="text-justify">{{ course.text }}</p>
    </div>

    <footer class="footer" >
      <div class="container" style="color:#333">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- <script src="js/jquery.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <!-- // <script src="js/bootstrap.min.js"></script> -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'bootstrap/js/jquery.easing.min.js' %}"></script>
    <!-- // <script src="js/jquery.easing.min.js"></script> -->

    <script src="{% static 'bootstrap/js/scrolling-nav.js' %}"></script>
    <!-- // <script src="js/scrolling-nav.js"></script> -->


    <div id="myModalBox" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Заголовок модального окна -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Подтверждение</h4>
          </div>
          <!-- Основной текст сообщения -->
          <div class="modal-body">
            <p>Вы действительно хотите отказаться от дальнейшего прохождения данного курса?</p>
            <p class="text-warning"><small>Для восстановления прохождения обратитесь в техподдержку.</small></p>
          </div>
          <!-- Нижняя часть модального окна -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" id='btn_unsubscribe_2' href="/unsubscribe_course/?id={{ course.id }}">Завершить прохождение</button>
          </div>
        </div>
      </div>
    </div>
</body>

</html>
