{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Emotion Control. Мобильный тренажер управления эмоциями.</title>

	<!-- favicon.png -->
	<link rel="icon" type="image/png" href="{% static 'img/index_new/favicon.png' %}">

	<!-- slicker.css -->
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

	<!-- style.css -->
	<link rel="stylesheet" href="{% static 'css/index_new_style.css' %}">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<!-- main.js -->
	<script src="{% static 'js/index_new.js' %}"></script>
</head>
<body>

	<!-- BEGIN header -->
	<header>
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="top-bar">
					<div class="logo">
						<p class="logo-desc">технология развития эмоционального интелекта</p>
						<a href=""><img src="{% static 'img/index_new/logo.png' %}" alt="Emotion Control"></a>
					</div>

					<div class="app-desc">
						<div class="hand-phone"></div>
						<div class="app-desc-text">
							<div class="app-desc-subtitle">мобильный тренажер</div>
							<div class="app-desc-title">Управления эмоциями</div>
							<a href="#" class="googleplay"><img src="{% static 'img/index_new/googleplay.png' %}" alt="Çàãðóçèòå íà Google Play"></a>
						</div>
					</div>

					<div class="login-form">
						<p class="form-title">Войти в <br><strong>личный кабинет</strong></p>
						<form action="" id="login">
							<input type="text" name="email" id="email" placeholder="Email">
							<input type="password" name="psw" id="psw" placeholder="Пароль">
							<input type="submit" name="submit" value="Войти">
							<div class="form-links">
								<a href="#" class="forget-psw">Забыли пароль?</a>
								<a href="#" class="registration modal-open" data-modal="#modal-registration">Регистрация</a>
							</div>

						</form>
					</div>
				</div>
				<div class="more-link">
					<a href="#" class="scroll-to" data-scroll=".second-screen">Подробнее</a>
					<div class="more-icon">
						<svg><use xlink:href="{% static 'img/index_new/sprite.svg#more-icon' %}" /></svg>

					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- END header -->

	<!-- BEGIN second screen -->
	<section class="second-screen">
		<div class="container">
			<div class="row">
				<p class="title">Полезные инструменты для вашего <strong>эмоционального благополучия</strong> </p>
				<div class="advantages">
					<div class="three-in-one"></div>
					<div class="vertical-line"></div>
					<div class="horizontal-line"></div>
					<div class="adv-item diary">
						<div class="icon diary-icon">
							<svg><use xlink:href="{% static 'img/index_new/sprite.svg#diary-icon' %}" /></svg>
						</div>
						<p>Дневник <strong>эмоций</strong></p>
					</div>
					<div class="adv-item-big trainer">
						<div class="icon trainer-icon">
							<svg><use xlink:href="{% static 'img/index_new/sprite.svg#gym-icon' %}" /></svg>
						</div>
						<p>Тренажор <strong>эмоционального интелекта</strong></p>
					</div>
					<div class="adv-item psychologist">
						<div class="icon psychologist-icon">
							<svg><use xlink:href="{% static 'img/index_new/sprite.svg#psychologist-icon' %}" /></svg>
						</div>
						<p>Карманный <strong>психолог</strong></p>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- END second screen -->

	<!-- BEGIN third screen -->
	<section class="third-screen">
		<div class="container">
			<div class="row">
				<ul class="questions">
					<li>Трудно справиться с <span class="text-brown">гневом</span></li>
					<li>Частые перепады <span class="text-brown">настроения</span></li>
					<li>Приступы <span class="text-brown">тревожности</span></li>
					<li>Постоянные <span class="text-brown">обиды</span></li>
					<li>Неуверенность в <span class="text-brown">себе</span></li>
				</ul>
				<div class="question-icon"></div>
				<div class="phone"></div>
				<div class="download-desc">
					<div class="text-desc">Установи<br>на свой смартфон<br><strong>мобильное приложение</strong></div>
					<div class="logo"><img src="{% static 'img/index_new/logo.png' %}" alt="Emotion Control"></div>
					<a href="#" class="googleplay"><img src="{% static 'img/index_new/googleplay.png' %}" alt="Çàãðóçèòå íà Google Play"></a>
				</div>
			</div>
		</div>
	</section>
	<!-- END third screen -->

	<!-- BEGIN fourth screen -->
	<section class="fourth-screen app-category">
		<div class="container">
			<div class="row">
				<div class="title">Измеряйте и контролируйте свои эмоции <strong>на протяжении дня</strong></div>
				<div class="app-category-desc diary-category">
					<div class="desc-icon">
						<div class="svg-icon">
							<svg><use xlink:href="{% static 'img/index_new/sprite.svg#diary-icon' %}" /></svg>
						</div>
					</div>
					<p class="desc-title">Дневник эмоций</p>
					<ul class="desc-text">
						<li>
							<div class="mark-icon"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#mark-icon' %}" /></svg></div>
							Скачайте мобильное приложение и контролируйте свои эмоции на протяжении дня
						</li>
						<li>
							<div class="mark-icon"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#mark-icon' %}" /></svg></div>
							Следите за эмоциональной динамикой и ведите статистику в личном кабинете на сайте
						</li>
						<li>
							<div class="mark-icon"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#mark-icon' %}" /></svg></div>
							Каждую неделю получайте отчеты про свое эмоциональное состояние и рекомендации от психолога
						</li>
					</ul>
				</div>
				<div class="app-category-thumb">
					<div class="screen first-phone-screen"></div>
					<div class="screen second-phone-screen"></div>
					<div class="screen third-phone-screen"></div>
				</div>
				<a href="#" class="button video modal-open" data-modal="#modal-video"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#play-icon' %}"/></svg>Видео</a>
			</div>
		</div>
	</section>
	<!-- END fourth screen -->

	<!-- BEGIN fifth screen -->
	<section class="fifth-screen">
		<div class="container">
			<div class="row">
				<div class="blur-slider"></div>
				<div id="slider">
					<div class="slide1">
						<div class="slide-infograph">
							<img src="{% static 'img/index_new/infograph1.png' %}" alt="Ëþäè, êîòîðûå óïðàâëÿþò ñâîèìè ýìîöèÿìè íà 58% ïðîäóêòèâíåå">
						</div>
						<div class="slide-text">
							<p>Люди, которые управляют <br> своими эмоциями <br> на</p>
							<p class="big-blue">58%</p>
							<p class="big">продуктивнее</p>
						</div>
					</div>
					<div class="slide2">
						<div class="slide-infograph">
							<img src="{% static 'img/index_new/infograph2.png' %}" alt="90% óñïåøíûõ ëþäåé èìåþò âûñîêèé EQ">
						</div>
						<div class="slide-text">
							<p class="big-blue">90%</p>
							<p>успешных людей <br> имеют высокий EQ</p>
							<p class="note">*EQ - эмоциональный интелект</p>
						</div>
					</div>
					<div class="slide3">
						<div class="slide-infograph">
							<img src="{% static 'img/index_new/infograph3.png' %}" alt="Ëþäè ñ âûñîêèì EQ â ñðåäíåì íà 80% ÷àùå èñïûòûâàþò ñîñòîÿíèå ñ÷àñòüÿ è óäîâëåòâîðåííîñòè ñâîåé æèçíüþ.">
						</div>
						<div class="slide-text">
							<p>Люди с высоким EQ <br> в среднем <br> на</p>
							<p class="big-red">80%</p>
							<p>чаще испытывают <br> состояние счастья <br> и удовлетворенности <br> своей жизнью.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END fifth screen -->

	<!-- BEGIN sixth screen -->
	<section class="sixth-screen app-category">
		<div class="container">
			<div class="row">
				<div class="title">Тренируйте навыки <strong>управления эмоциями</strong></div>
				<div class="app-category-desc trainer-category">
					<div class="desc-icon">
						<div class="svg-icon">
							<svg><use xlink:href="{% static 'img/index_new/sprite.svg#gym-icon' %}" /></svg>
						</div>
					</div>
					<p class="desc-title">Тренажер эмоционального интелекта</p>
					<ul class="desc-text">
						<li>
							<div class="mark-icon"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#mark-icon' %}" /></svg></div>
							Каждый день получайте на свой смартфон задания и выполняйте их согласно инструкции.
						</li>
						<li>
							<div class="mark-icon"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#mark-icon' %}" /></svg></div>
							Повышайте свой эмоциональный интеллект, ежедневно отмечая прогресс в выбранной теме.
						</li>
						<li>
							<div class="mark-icon"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#mark-icon' %}" /></svg></div>
							Повышайте свой эмоциональный интеллект, ежедневно отмечая прогресс в выбранной теме.
						</li>
					</ul>
				</div>
				<div class="app-category-thumb">
					<div class="trainer-thumb"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- END sixth screen -->

	<!-- BEGIN seventh screen -->
	<section class="seventh-screen">
		<div class="container">
			<div class="row">
				<div class="title">Курсы</div>
				<div class="courses">
					{% for course in course_list %}
						<div class="course-item ">
							<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" src="{{ course.video }}" allowfullscreen></iframe>
								</div>
                        	</div>
							<!--<div class="course-thumb">-->
								<!--<div class="img"></div>-->
							<!--</div>-->
							<a href="/course?id={{ course.id }}" class="course-title">{{ course.name }}</a>
							<p class="course-desc ">
								{{ course.text|truncatechars:250 }}
							</p>
						</div>
					{% endfor %}
				</div>
				<a href="/courses" class="button all-courses">Ко всем курсам</a>
			</div>
		</div>
	</section>
	<!-- END seventh screen -->

	<!-- BEGIN eighth screen -->
	<section class="eighth-screen">
		<div class="wave-pattern"></div>
		<div class="container">
			<div class="row">
				<div class="title">Получайте полезные советы <strong>от “Карманного психолога”</strong></div>
				<div class="app-category-desc psych-category">
					<div class="desc-icon">
						<div class="svg-icon">
							<svg><use xlink:href="{% static 'img/index_new/sprite.svg#psychologist-icon' %}" /></svg>
						</div>
					</div>
					<p class="desc-title">Карманный психолог</p>
					<ul class="desc-text">
						<li>
							<div class="mark-icon"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#mark-icon' %}" /></svg></div>
							Получайте полезные советы от своего “карманного психолога” в тот момент, когда Вам это действительно необходимо
						</li>
						<li>
							<div class="mark-icon"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#mark-icon' %}" /></svg></div>
							Действуйте согласно рекомендациям и меняйте свое эмоциональное состояние на желаемое
						</li>
					</ul>
				</div>
				<div class="app-category-thumb">
					<div class="psych-thumb"></div>
				</div>
				<a href="/trener" class="button all-advises">Ко всем советам</a>
			</div>
		</div>
	</section>
	<!-- END eighth screen -->

	<!-- BEGIN footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col">
					<p>Emotion Control. Все права защищены. 2016</p>
					<ul>
						<li>
							<a href="#">Конфиденциальность</a>
						</li>
						<li>
							<a href="/lawyer_page">Правила пользования</a>
						</li>
					</ul>
					<p class="developer">Разработка сайта: <a href="//www.facebook.com/bohdangorovoy" target="_blank">Bohdan Gorovoy</a></p>
				</div>
				<div class="col">
					<p>Установите приложение уже сегодня</p>
					<a href="" class="googleplay"><img src="{% static 'img/index_new/googleplay.png' %}" alt="Загрузите на Google Play"></a>
				</div>
				<div class="col">
					<a href="#" data-scroll="header" class="personal-cabinet scroll-to">Личный кабинет</a>
					<a href="#" data-modal="#modal-registration" class="registration-footer modal-open">Регистрация</a>

					<ul>
						<li>
							<a href="#" class="scroll-to" data-scroll=".fourth-screen">Дневник эмоций</a>
						</li>
						<li>
							<a href="#" class="scroll-to" data-scroll=".sixth-screen">Тренажер эмоционального интелекта</a>
						</li>
						<li>
							<a href="/trener" class="scroll-to" data-scroll=".eighth-screen">Карманный психолог</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</footer>
	<!-- END footer -->

	<!-- BEGIN modal windows -->
	<div class="modal" id="modal-registration">
		<a href="#" class="modal-close"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#close-icon' %}" /></svg></a>
		<p class="modal-title">Регистрация</p>
		<form action="">
			<input type="text" name="name" placeholder="Имя">
			<input type="text" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Пароль">
			<input type="submit" name="submit" value="Регистрация">
		</form>
		<p class="license">Регистрируясь вы принимаете условия <a href="/lawyer_page">лицензионного договора</a></p>
	</div>
	<div class="modal" id="modal-video">
		<a href="#" class="modal-close"><svg><use xlink:href="{% static 'img/index_new/sprite.svg#close-icon' %}" /></svg></a>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/MJJj0BBrWOE?showinfo=0&rel=0" allowfullscreen></iframe>
	</div>
	<div class="modal-overlay"></div>
	<!-- END modal windows -->


	<!-- footer scripts -->

	<!-- Slicker -->
	<script src="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#slider').slick({
				dots: false,
				infinite: true,
				speed: 500,
				autoplaySpeed: 5000,
				cssEase: 'ease-out',
				autoplay: true
			});
		});
	</script>

	<!-- jQuery Parallax -->
	<script src="{% static 'js/jquery.parallax.js' %}"></script>


</body>
</html>