{% extends "profile.html" %}
{% load i18n %}
{% block title %}
My courses
{{ block.super }}
{% endblock %}


{% block content%}

<div class="panel panel-success">
    <div class="panel-heading">My active courses</div>
        <!--<div class="panel-body">12345789</div>-->
    <ul class="list-group">
        {% if usercourses_not_ended|length %}
            {% for usercourse in usercourses_not_ended%}
                <a type="button" href="/profile/myusercourse/?id={{ usercourse.id }}" class="list-group-item">
                    <span class="badge" style="background-color: #dff0d8; color: #3c763d">{{ usercourse.last_lesson }}</span>
                    {{ usercourse.course }}
                </a>
            {% endfor %}
        {% else %}
            <a type="button" href="/profile/mycourses" class="list-group-item">
                There will be your courses, please, come later.
            </a>
        {% endif %}
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">My ended courses</div>
    <ul class="list-group">
        {% if usercourses_ended|length %}
            {% for usercourse in usercourses_ended%}
                <a type="button"  href="/profile/myusercourse/?id={{ usercourse.id }}" class="list-group-item">
                    <span class="badge" style="background-color: #dff0d8; color: #3c763d">{{ usercourse.last_lesson }}</span>
                    {{ usercourse.course }}
                </a>
            {% endfor %}
        {% else %}
            <a type="button" href="/profile/mycourses" class="list-group-item">
                There will be your ended courses, please, come later.
            </a>
        {% endif %}
    </ul>
</div>
<input id="temp_page" type="hidden" value="courses">
{% endblock %}