{% extends "profile.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
My settings
{{ block.super }}
{% endblock %}


{% block content%}
<!--BOOL CKACKBOX-->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.73/jsrender.js"></script>
<script>
<!--FOR RESIZING-->
    <!--var createImage = function (src) {-->
        <!--console.log('createImage');-->
        <!--var deferred = $.Deferred();-->
        <!--var img = new Image();-->

        <!--img.onload = function() {-->
            <!--deferred.resolve(img);-->
        <!--};-->
        <!--img.src = src;-->
        <!--return deferred.promise();-->
    <!--};-->
    <!--var startResize = function (src) {-->
        <!--console.log('startResize');-->
        <!--$.when(-->
            <!--createImage(src)-->
        <!--).then(resize, function () {console.log('error')});-->
    <!--};-->
    <!--var resize = function (image) {-->
        <!--mainCanvas = document.createElement("canvas");-->
        <!--mainCanvas.width = 1024;-->
        <!--mainCanvas.height = 768;-->
        <!--var ctx = mainCanvas.getContext("2d");-->
        <!--ctx.drawImage(image, 0, 0, mainCanvas.width, mainCanvas.height);-->
        <!--mainCanvas = halfSize(mainCanvas);-->

        <!--$('#avatar').attr('src', mainCanvas.toDataURL("image/jpeg"));-->
    <!--};-->
    <!--var halfSize = function (i) {-->
        <!--var canvas = document.createElement("canvas");-->
        <!--canvas.width = 111;-->
        <!--canvas.height = 111;-->
        <!--var ctx = canvas.getContext("2d");-->
        <!--ctx.drawImage(i, 0, 0, canvas.width, canvas.height);-->
        <!--return canvas;-->
    <!--};-->


    var default_avatar_url = '';

    window.onload = function (){
        default_avatar_url = $('#avatar').attr("src");
        console.log('default_avatar_url', default_avatar_url);
    };

    function resetForm(from){
        var r = from.reset();
        showAvatar();
    }

    function showAvatar(){
        var src = document.getElementById("file");
        console.log('TYPE');
        console.log(src);
        var target = document.getElementById("avatar");
        showImage(src,target);
    }
    function showImage(src,target) {
        console.log('showImage');
        var preview = target;
        var files    = src.files;

        var fr = new FileReader();
        fr.onload = function(){
            preview.src = fr.result;
            <!--Need to uncomment this and upper block for resizing upload image, BUT this script doesnt change data in input-file-form -->
            <!--startResize(fr.result);-->
        }

        if (files.length) {
            fr.readAsDataURL(src.files[0]);
        } else {
            preview.src = default_avatar_url;
        }
    }
</script>
<br>
<br>

<hr>
<div class="row">
  <!-- left column -->
  <form class="form-horizontal" role="form" id="profile_form" action="/profile/mysetting" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-3">
    <div class="text-center">
      <div class="circular--portrait">
        <img id="avatar" src="{{ request.user.profile.avatar.url }}" class="avatar" alt="avatar">
      </div>
      <h6>Виберіть фото для зміни аватарки...</h6>
      <input id="file" type="file" class="form-control" name="avatar" onchange="showAvatar()">
    </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <!--<div class="alert alert-info alert-dismissable">-->
        <!--<a class="panel-close close" data-dismiss="alert">×</a>-->
        <!--<i class="fa fa-coffee"></i>-->
        <!--This is an <strong>.alert</strong>. Use this to show important messages to the user.-->
      <!--</div>-->
      <center> <h3>Personal info</h3> </center>


      <div class="form-group">
        <label id="first_name" class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" name="first_name" value="{{ uform.first_name.value }}">
        </div>
      </div>
      <div class="form-group">
        <label id="last_name" class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" name="last_name" value="{{ uform.last_name.value }}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Email:</label>
        <div class="col-lg-8">
          <input id="email" class="form-control" type="text" name="email" value="{{ uform.email.value }}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Email subscribe:</label>
        <div class="col-lg-8">
          <div class="checkbox">
            <input type="checkbox" name="subscribe_mailing" {% if pform.subscribe_mailing.value %} {{ 'checked' }} {% endif %} data-toggle="toggle" data-onstyle="default" data-on="Підписаний" data-off="Відписаний" data-size="small">
          </div>
        </div>
      </div>

      <br>
      <br>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <input id="sbmit" type="button" class="btn btn-primary" value="Save Changes" onclick="this.form.submit();">
          <!--<input id="sbmit" type="button" class="btn btn-primary" value="Save Changes" onclick="saveForm(this.form);>-->
          <span></span>
          <input id="rset" type="button" class="btn btn-default" value="Cancel" onclick="resetForm(this.form);">
        </div>
      </div>
    </div>
  </form>
</div>
<hr>
{% endblock %}