{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/my_profile.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/my_profile.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
    <body>
        <div id="wrapper" >
            <nav class="navbar navbar-fixed-top" role="navigation" style="border-color: #e1e1e1">
{#            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">#}
                <div class="container-fluid" style="background-color: #f9f9f9;">
                    <div class="navbar-header" >
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color: #b1b1b1">
                            <span class="sr-only">Toggle navigation</span>
{#                            <span class="icon-bar">1</span>#}
{#                            <span class="icon-bar">2</span>#}
{#                            <span class="icon-bar">3</span>#}
                        </button>
                        <div  class="navbar-brand">
                            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle" style="color: #b1b1b1;">
                                <!--<i class="fa fa-bars"></i>-->
                            </a>
                            <a href="/">EQ-trainer</a>
                            Hi, {{ user.email }}
                        </div>

                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/courses">Courses</a></li>
                            <!--<li><a href="/articles">Articles</a></li>-->
                            <li><a href="/trener">Trener</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/accounts/logout/?next=/">LogOut</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <!-- Sidebar -->
            <div id="sidebar-wrapper" >
                <nav id="spy" >
                    <ul class="sidebar-nav nav" >
                        <!--<ul class="nav nav-pills nav-stacked well">-->
                          <!--<li class="active"><a href="#"><i class="fa fa-home"></i> My daybook</a></li>-->
                          <!--<li><a href="#"><i class="fa fa-flag-checkered" ></i> My conclus</a></li>-->
                          <!--<li><a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> My course</a></li>-->
                          <!--<li><a href="#"><i class="fa fa-key"></i> My setting</a></li>-->
                          <!--<li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>-->
                        <!--</ul>-->


                        <li style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #e1e1e1; ">
                            <a href="/profile/mydaybook">
                                <span class="fa fa-home">My daybook</span>
                            </a>
                        </li>
                        <li style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #e1e1e1; ">
                            <a href="/profile/profile_my_conclusions">
                                <span class="fa fa-flag-checkered">My conclusion</span>
                            </a>
                        </li>
                        <li style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #e1e1e1">
                            <a href="/profile/mycourses">
                                <span class="fa fa-graduation-cap">My courses</span>
                            </a>
                        </li>
                        <li style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #e1e1e1">
                            <a href="/profile/mysetting">
                                <span class="fa fa-key">My setting</span>
                            </a>
                        </li>
                        <li style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #e1e1e1">
                            <a href="/accounts/logout/?next=/">
                                <span class="fa fa-sign-out">LogOut</span>
                            </a>
                        </li>
                     </ul>
                </nav>
            </div>
            <!-- Page content -->
            <div id="page-content-wrapper">
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-10">
                                {% block content%}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                        Panel 1
                                                </div>
                                                <div class="panel-body">
                                                    content body
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                        Panel 1
                                                </div>
                                                <div class="panel-body">
                                                    content body
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                            <div class="col-xs-1">
                            </div>
                        </div>
                        <br>
                        <br>

{#                        <div class="row">#}
{#                            <div class="col-xs-6 col-xs-offset-3">#}
{#                                    <hr>#}
{#                            </div>#}
{#                        </div>#}
{#                            <center>#}
{#                                <p class="text-muted">Copyright © EQ-helper 2015</p>#}
{#                            </center>#}
{#                        <br>#}
{#                        <br>#}

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
