{% extends "profile.html" %}
{% load i18n %}
{% block title %}
My course
{{ block.super }}
{% endblock %}


{% block content%}
    <p>Mu course</p>
    {{ course.name }}
<div class="panel panel-success">
    <div class="panel-heading">My lessons</div>
{#        <div class="panel-body">12345789</div>#}
        <ul class="list-group">
            {% for lesson in 'xxxxxxxxxxxxxxxxxxx'%}
                <a type="button" href="/" class="list-group-item">
                    {{ forloop.counter }}. {{ lesson }}
                    <span class="pull-right">Date: 777</span>
                </a>
            {% endfor %}
        </ul>
</div>

{% endblock %}