{% extends "profile.html" %}
{% load i18n %}
{% block title %}
Мой курс
{{ block.super }}
{% endblock %}


{% block content%}
    <script>
        function myFunction(name, number, tags, text) {
{#            console.log("------------");#}
{#            console.log(name);#}
{#            console.log(number);#}
{#            console.log(tags);#}
{#            console.log(text);#}

            $('#ModelLessonHeader').text(number + '. ' + name)
            $('#ModelLessonText').text(text)
            $('#ModalLesson').modal('show')
        }
    </script>
    <br>
    <br>
<div class="panel panel-success">
    <div class="panel-heading">Уроки к моему курсу '{{ user_course.course.name }}.'</div>
{#        <div class="panel-body">12345789</div>#}
        {% if lessons|length %}
            <ul class="list-group">
                {% for lesson in lessons%}
                    <a type="button" onclick="myFunction('{{ lesson.name }}', '{{ forloop.counter }}', '{{ lesson.tags }}', '{{ lesson.text }}')" class="list-group-item">
                        {{ forloop.counter }}. {{ lesson.name }}
                        <span class="pull-right">Дата: {{ lesson.updated }}</span>
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <ul class="list-group">
                <a type="button" onclick="myFunction('Введение', '0', '', 'Тут будут ваши уроки, пожалуйста, приходите позже.')" class="list-group-item">
                    Тут будут ваши уроки, пожалуйста, приходите позже.
                    <span class="pull-right">Дата: {% now 'jS F Y H:i'%} </span>
                </a>
            </ul>
        {% endif %}
</div>

      <!-- Modal -->
<div class="modal fade" id="ModalLesson" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="ModelLessonHeader" class="modal-title">Modal Header</h4>
            </div>
            <div id="ModelLessonText" class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}