{% extends "profile.html" %}
{% load i18n %}
{% block title %}
My daybook
{{ block.super }}
{% endblock %}


{% block content%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.73/jsrender.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script> {# For spider #}



    <script>
        $(function () {
            $('#container_1').highcharts({
                chart: {
                    polar: true,
                    type: 'column'
                },
                data: {
                    table: 'freq',
                    startRow: 1,
                    endRow: 17,
                    endColumn: 10
                },

                title: {
                    text: 'Emotions'
                },

{#                subtitle: {#}
{#                    text: 'If needed some subtitle'#}
{#                },#}

                pane: {
                    size: '70%'
                },

                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    y: 100,
                    layout: 'vertical'
                },

                xAxis: {
                    tickmarkPlacement: 'on'
                },

                yAxis: {
                    min: 0,
                    endOnTick: false,
                    showLastLabel: true,
                    title: {
                        text: ' '
                    },
                    labels: {
                        formatter: function () {
                            return this.value + ' ';
                        }
                    },
                    reversedStacks: false
                },

                tooltip: {
                    valueSuffix: ' '
                },

                plotOptions: {
                    series: {
                        stacking: 'normal',
                        shadow: false,
                        groupPadding: 0,
                        pointPlacement: 'on'
                    }
                }
            });
        });
{# SECOND GRAPH #}
        $(function () {

            var gaugeOptions = {

                chart: {
                    type: 'solidgauge'
                },

                title: null,

                pane: {
                    center: ['50%', '85%'],
                    size: '140%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },

                tooltip: {
                    enabled: false
                },

                // the value axis
                yAxis: {
                    stops: [
                        [0.1, '#66BB6A'], // green
                        [0.5, '#388E3C'], // yellow
                        [0.9, '#1B5E20'] // red
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    title: {
                        y: -70
                    },
                    labels: {
                        y: 16
                    }
                },

                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                }
            };

            // The speed gauge
            $('#container_2_1').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Confidence'
                    }
                },

                credits: {
                    enabled: false
                },

                series: [{
                    name: 'Speed',
                    data: [Math.round({{ confidence_reports }} * 100 / {{ confidence_reports_total }})],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                               '<span style="font-size:12px;color:silver">%</span></div>'
                    },
                    tooltip: {
                        valueSuffix: ' mk/h'
                    }
                }]

            }));
            // The speed gauge
            $('#container_2_2').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    stops: [
                        [0.1, '#5C6BC0'], // green
                        [0.5, '#3949AB'], // yellow
                        [0.9, '#1A237E'] // red
                    ],
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Subjective'
                    }
                },

                credits: {
                    enabled: false
                },

                series: [{
                    name: 'Speed',
                    data: [Math.round({{ subjectivity_reports }} * 100 / {{ subjectivity_reports_total}})],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                               '<span style="font-size:12px;color:silver">%</span></div>'
                    },
                    tooltip: {
                        valueSuffix: ' mk/h'
                    }
                }]

            }));
        });

{#        $(function () {#}
{#            $('#container_2_1').highcharts({#}
{#                chart: {#}
{#                    type: 'pie',#}
{#                    options3d: {#}
{#                        enabled: true,#}
{#                        alpha: 45,#}
{#                        beta: 0#}
{#                    }#}
{#                },#}
{#                title: {#}
{#                    text: 'Confidence'#}
{#                },#}
{#                tooltip: {#}
{#                    pointFormat: '<b>{point.percentage:.1f}%</b>'#}
{#                },#}
{#                plotOptions: {#}
{#                    pie: {#}
{#                        allowPointSelect: true,#}
{#                        cursor: 'pointer',#}
{#                        depth: 25,#}
{#                        dataLabels: {#}
{#                            enabled: true,#}
{#                            format: '{point.name}'#}
{#                        }#}
{#                    }#}
{#                },#}
{#                series: [{#}
{#                    type: 'pie',#}
{#                    name: 'Happiness',#}
{#                    data: [#}
{#                        ['Unconfidence', {{ confidence_reports_total }} - {{ confidence_reports }}],#}
{#                        {#}
{#                            name: 'Confidence',#}
{#                            y: {{ confidence_reports }},#}
{#                            sliced: true,#}
{#                            selected: true#}
{#                        },#}
{#                    ]#}
{#                }]#}
{#            });#}
{#        });#}

        $(function () {
            $('#container_2_3').highcharts({
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 60,
                        beta: 0
                    }
                },
                title: {
                    text: 'Subjectivity'
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 25,
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: [
                        ['UnSubjective', {{ subjectivity_reports_total }} - {{ subjectivity_reports }}],
                        {
                            name: 'Subjective',
                            y: {{ subjectivity_reports }},
                            sliced: true,
                            selected: true
                        }
                    ]
                }]
            });
        });

        function myFunction(name, number, url, date_start, date_end) {
            $('#week_frame').attr('src', "/report_graph?user_id={{ request.user.id }}&date_start=" + date_start + "%2000:00:00&date_end=" + date_end + "%2000:00:00");
            $.get(url,
                {},
                function(data) {
                    $('#ModelLessonText').html(data['text']);
                }
            );
            $('#ModelLessonHeader').text(number + '. ' + name);
            $('#ModalLesson').modal('show');
        }
        function weekly_reports_l(limit, offset){
            console.log('weekly_reports_l', limit, offset);
            render_template(limit, offset);
        }
        function weekly_reports_r(limit, offset){
            console.log('weekly_reports_r', limit, offset);
            render_template(limit, offset);
        }
        function monthly_reports_l(){
            alert('Hi, man!');
        }
        function monthly_reports_r(){
            alert('Hi, man!');
        }

        function on_load(){
            render_template(10, 0);
        }

        window.onload = on_load;

        <!--eeeeeeeeeeeeeeeeeeeeeee-->

        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollWidth / 2.0 + 'px';
        }

    </script>

{% verbatim %}
    <!--MY_TEMPLATE-->
    <script id="week_template" type="text/x-jsrender">
    <a type="button" onclick="myFunction('{{:date_start}} ... {{:date_end}}', '{{:counter }}', '{{:url }}', '{{:date_start}}', '{{:date_end}}')" class="list-group-item">
        {{:counter }}. <b>{{:date_start}} ... {{:date_end}}</b>
        <span class="pull-right">Date: {{:updated }}</span>
    </a>
    </script>

    <script>
        function render_template(limit, offset){
            $.get("/api/v1/WeeklyReport/",
                {limit : limit, offset : offset},
                function(data) {
                    var tmpl = $.templates("#week_template"); // Get compiled template
                    var context = [];           // Define context
                    var total_count = parseInt(data['meta']['total_count']);

                    data['objects'].forEach(function(element, index, array) {
                        context.push({
                            counter: total_count - offset - index,
                            url: element['resource_uri'],
                            updated: element['updated'],
                            date_start: element['date_start'],
                            date_end: element['date_end']
                            });
                    });
                    var html = tmpl.render(context);      // Render template using context - as HTML string
                    $("#weekly_report_content").html(html);           // Insert HTML string into DOM
                    $('#w_h').text('Weekly reports [' + (total_count - offset) + ' .. ' + (total_count - Math.min(total_count, offset + limit) + 1) + ']');
                    $('#w_b_l').attr('onclick', 'weekly_reports_l(' + limit + ',' + Math.max(0, offset - limit) +')');
                    if (total_count <= offset + limit ) {
                        offset -= limit;
                    }
                    $('#w_b_r').attr('onclick', 'weekly_reports_r(' + limit + ',' + Math.min(total_count, offset + limit) +')');
                }
            );
        }
    </script>
{% endverbatim %}

    <div class="row" >
        <div class="col-xs-6">
            <div id="container_1" style="min-width: 420px; max-width: 600px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-xs-6">
            <div id="container_2_1" style="height: 200px"></div>
            <div id="container_2_2" style="height: 200px"></div>
        </div>
    </div>

<div style="display:none">
    <!-- Source: http://or.water.usgs.gov/cgi-bin/grapher/graph_windrose.pl -->
    <table id="freq" border="0" cellspacing="0" cellpadding="0">
        <tr nowrap bgcolor="#CCCCFF">
            <th colspan="{{ emotion_activity|length }}" class="hdr">Table of Frequencies (percent)</th>
        </tr>

        <tr nowrap bgcolor="#CCCCFF">
            <th class="freq">Direction</th>
            {% for key, name in user_activity %}
                <th class="freq">{{ name }}</th>
            {% endfor %}
{#            <th class="freq">&lt; 0.5 m/s</th>#}
{#            <th class="freq">0.5-2 m/s</th>#}
{#            <th class="freq">2-4 m/s</th>#}
{#            <th class="freq">4-6 m/s</th>#}
{#            <th class="freq">6-8 m/s</th>#}
{#            <th class="freq">8-10 m/s</th>#}
{#            <th class="freq">&gt; 10 m/s</th>#}
            <th class="freq">Total</th>
        </tr>
        {% for name, value in emotion_activity %}
            <tr nowrap>
                <td class="dir">{{ name }}</td>
                {% for i in value %}
                    <td class="data">{{ i }}</td>
                {% endfor %}

{#                <td class="data"></td>#}
{#                <td class="data">1.78</td>#}
{#                <td class="data">0.16</td>#}
{#                <td class="data">0.50</td>#}
{#                <td class="data">0.40</td>#}
{#                <td class="data">0.30</td>#}
{#                <td class="data">1.20</td>#}
{#                <td class="data">1</td>#}
            </tr>
        {% endfor %}
    </table>
</div>


    <br>
    <br>
<div class="panel panel-info">
    <div class="panel-heading">
        <span id="w_h">Weekly reports []</span>
        <span class="pull-right">
            <button type="button" class="btn btn-default btn-xs" id="w_b_l" onclick="weekly_reports_l()">
                <span aria-hidden="true">&laquo;</span>
            </button>
            <button type="button" class="btn btn-default btn-xs" id="w_b_r" onclick="weekly_reports_r()">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </span>
    </div>
        <ul class="list-group">
            <div id="weekly_report_content">

            </div>
        </ul>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Monthly reports
        <span class="pull-right">
            <button type="button" class="btn btn-default btn-xs" onclick="monthly_reports_l()">
                <span aria-hidden="true">&laquo;</span>
            </button>
            <button type="button" class="btn btn-default btn-xs" onclick="weekly_reports_r()">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </span>
    </div>
        <ul class="list-group">
            {% if monthly_reports|length %}
                {% for monthly_report in monthly_reports%}
                    <a type="button" onclick="myFunction('{{ monthly_report }}', '{{ forloop.counter }}', '{{ monthly_report.text }}')" class="list-group-item">
                        {{ forloop.counter }}. {{ monthly_report }}
                        <span class="pull-right">Date: {{ monthly_report.updated }}</span>
                    </a>
                {% endfor %}
            {% else %}
                <a type="button" class="list-group-item">
                    There will be your monthly reports, please, come later.
                </a>
            {% endif %}
        </ul>
</div>




      <!-- Modal -->
<div class="modal fade" id="ModalLesson" role="dialog">
    <div class="modal-dialog" style="width: 80%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="ModelLessonHeader" class="modal-title">Modal Header</h4>
            </div>
            <iframe frameborder="0" id="week_frame"; scrolling="no"; src="";  height="100%"; width="99%"; onload="resizeIframe(this)";>
            </iframe>

            <div id="ModelLessonText" class="modal-body" style="margin-left: 20px; margin-right: 20px;">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}