{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/my_profile.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/my_profile.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
    <body>
        <div id="wrapper" >
            <nav class="navbar navbar-fixed-top" role="navigation" style="border-color: #e1e1e1">
{#            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">#}
                <div class="container-fluid" style="background-color: #f9f9f9;">
                    <div class="navbar-header" >
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color: #b1b1b1">
                            <span class="sr-only">Toggle navigation</span>
{#                            <span class="icon-bar">1</span>#}
{#                            <span class="icon-bar">2</span>#}
{#                            <span class="icon-bar">3</span>#}
                        </button>
                        <div  class="navbar-brand">
                            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle" style="color: #b1b1b1;">
                                <!--<i class="fa fa-bars"></i>-->
                            </a>
                            <a href="/">Emotional Control</a>
                        </div>

                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Главная</a></li>
                            <li><a href="/courses">Курсы</a></li>
                            <!--<li><a href="/articles">Articles</a></li>-->
                            <li><a href="/trener">Карманный психолог</a></li>
                            <li><a href="/about">О программе</a></li>
                            <li><a href="/accounts/logout/?next=/">Выйти</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <!-- Sidebar -->
            <div id="sidebar-wrapper" >
                <nav id="spy" >
                    <!--<ul class="sidebar-nav nav" >-->
                    <center>
                        <br>
                        <div style="position: relative;  width: 100px;  height: 100px;  overflow: hidden;  border-radius: 50%;">
                            <img style="width: auto; height: 100%;" src="{{ user.profile.avatar.url }}" class="avatar" alt="avatar">
                        </div>
                        <br>

                        {% if user.first_name and user.last_name %}
                            {{ user.first_name}} {{ user.last_name }}
                        {% elif user.first_name %}
                            {{ user.first_name }}
                        {% elif user.last_name %}
                            {{ user.last_name }}
                        {% else %}
                            {{ user.email }}
                        {% endif %}
                        <br>
                        <br>
                    </center>
                    <ul class="nav nav-pills nav-stacked ">
                        <li>
                            <a href="/profile/mydaybook">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span class="fa fa-home"></span>
                                    </div>
                                    <div class="col-xs-10">
                                        <span id="daybook">Дневник эмоций</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/profile/profile_my_conclusions">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span class="fa fa-flag-checkered"></span>
                                    </div>
                                    <div class="col-xs-10">
                                        <span id="conclusions">Мои отчеты</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/profile/mycourses">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span class="fa fa-graduation-cap"></span>
                                    </div>
                                    <div class="col-xs-10">
                                        <span id="courses">Мои курсы</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/profile/mysetting">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <span class="fa fa-key"></span>
                                    </div>
                                    <div class="col-xs-10">
                                        <span id="settings">Мои настройки</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!--<li>-->
                            <!--<a href="/accounts/logout/?next=/">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-xs-2">-->
                                        <!--<span class="fa fa-sign-out"></span>-->
                                    <!--</div>-->
                                    <!--<div class="col-xs-10">-->
                                        <!--<span>Выход</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                    </ul>
                </nav>
            </div>
            <!-- Page content -->
            <div id="page-content-wrapper">
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-10">
                                {% block content%}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                        Panel 1
                                                </div>
                                                <div class="panel-body">
                                                    content body
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                        Panel 1
                                                </div>
                                                <div class="panel-body">
                                                    content body
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                            <div class="col-xs-1">
                            </div>
                        </div>
                        <br>
                        <br>

{#                        <div class="row">#}
{#                            <div class="col-xs-6 col-xs-offset-3">#}
{#                                    <hr>#}
{#                            </div>#}
{#                        </div>#}
{#                            <center>#}
{#                                <p class="text-muted">Copyright © EQ-helper 2015</p>#}
{#                            </center>#}
{#                        <br>#}
{#                        <br>#}

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
