{% block about %}
    <style>
    P {
        text-indent: 2.0em;
        text-align: justify;
    }
    </style>
    <center><h3>Здравствуй дорогой друг!</h3></center>
    <P>Мы рады, что ты принял решение использовать мобильное приложение «Карманный Психолог» и установил его на свой смартфон. Теперь у тебя под рукой надежный и анонимный помощник в решении твоих психологических проблем.
    В нем собраны эффективные психологические инструменты для твоего эмоционального благополучия.
    Мобильное приложение «Карманный Психолог» состоит из трех компонентов:</P>
    <br><b>1. Дневник эмоций</b>
    <br><b>2. Тренажер эмоционального интеллекта</b>
    <br><b>3. Карманный психолог</b>

    <P><img src="/static/img/index_new/diary.png"><b>«Дневник эмоций».</b> Это инструмент, который позволит тебе отслеживать свое эмоциональное состояние на протяжении дня, недели, месяца, года и видеть закономерности.</P>
    <P>Кроме того, «Дневник эмоций», развивает твою способность замечать эмоции и анализировать причины их возникновения.</P>
    <P>Отмечай свое эмоциональное состояние минимум 5 раз на протяжении дня.</P>
    <P>Колесо эмоций состоит из 10 эмоций и 8 сфер жизни.  Заполняя «Дневник эмоций», тебе нужно соотносить возникающие у тебя эмоции со сферами жизни, которые их вызвали. Например: радость-удовольствие в сфере семья/любовь;</P>
    <P>Развитие эмоционального интеллекта (EQ) определяется ростом уровня твоей эффективности и счастья. Контролируй и отмечай ежедневно эти два параметра.</P>
    <P>«Уровень эффективности» относиться к достижению поставленных целей. Насколько ты сегодня был эффективен из 100% возможного?</P>
    <P>«Уровень счастья» определяет  твое удовлетворение собой, другими, жизнью в целом.  Насколько ты сегодня был счастлив из 100% возможного?</P>
    <P>Вся информация собирается и анализируется в твоем личном кабинете на сайте emocontrol.net</P>
    <P>Каждый понедельник, ты будешь получать на почту отчет о своем эмоциональном состоянии за неделю и практические рекомендации от твоего «Карманного Психолога».</P>
    <P>«Дневник эмоций» - это полезный диагностический инструмент развития твоего эмоционального интеллекта.</P>

    <P><img src="/static/img/index_new/trainer.png"><b>«Тренажер эмоционального интеллекта»</b> - это специально разработанные курсы, которые помогут тебе за короткое время повысить уровень эмоционального интеллекта (EQ) и решить свою психологическую проблему.</P>
    <P>Упражнения опробованы и разработаны на основе многих исследований в сфере психологии и психотерапии. Семантическое ядро состоит из технологий когнитивно-поведенческой терапии, позитивной терапии, гештальт-терапии.</P>
    <P>Для активации одного из предложенных психологических курсов, нажми  кнопку «подписаться».</P>
    <P>Каждый день тебе будут приходить уроки с заданиями  от твоего «Карманного Психолога».</P>
    <P>Изучай материал, выполняй задания и продвигайся в выбранной теме.</P>
    <P>Веди записи своих ответов в отдельном документе.</P>

    <P><img src="/static/img/index_new/psychologist.png"><b>«Карманный психолог»</b> -  это подборка пошаговых инструкций, которые помогут тебе получить первую психологическую помощь.</P>

    <P>Выбирай актуальный для тебя вопрос и выполняй предложенные рекомендации.</P>
    <P>Найди спокойное место, чтобы тебя никто не отвлекал и сосредоточься на предложенных пошаговых инструкциях.</P>
    <P>Шаг за шагом, ты почувствуешь, как будет меняться твое эмоциональное состояние и добавиться ясности в том, что тебе необходимо делать.</P>

    <P>Мы искренне желаем тебе эмоционального благополучия и успехов в развитии своего эмоционального интеллекта.</P>
    <P>Приложение «Карманный Психолог» разработано экспертами и психологами «Школы Эмоционального Интеллекта».</P>
    <P><img src="/static/img/eq_school.jpg"><b>«Школа Эмоционального Интеллекта»</b> - это образовательный проект, целью которого является  изучения и развития эмоционального интеллекта в сфере бизнеса, гендерных отношений, лидерства, образования и т.д.</P>
    <P>На сегодняшний день в «Школе Эмоционального Интеллекта» собрано наиболее полная коллекция знаний, технологий, публикаций, книг в сфере управления эмоциями. «Школа Эмоционального Интеллекта» ведет активные консультации и получает методологическую поддержку от компаний <b>Paul Ekman Group LLC и Daniel Goleman company и Richard Boyatzis, PhD</b>.</P>
    <P>Общее количество участников «Школы EQ» составляет более <b>10 000 человек</b>.</P>
    <P>Основанная в 2011 году «Школа Эмоционального Интеллекта», проводит регулярные обучающие программы, исследования, публикуются статьи.  Внедряются современные IT-разработки в сфере эмоционального интеллекта.</P>
    <P>Начиная с 2015, проводится <b>он-лайн обучение</b>, в котором имеют возможность участвовать люди со всего мира, находясь в удобном для себя месте.</P>
    <P>Если у тебя возникли вопросы или ты хочешь пройти  более глубокие программы работы со своими эмоциями, пиши нам на почту.</P>
    <P>Паблик «Школы EQ»:  <a href="www.facebook.com/EQschool">www.facebook.com/EQschool</a></P>
    <P>Сайт основателя «Школы EQ»: <a href="http://dubrawin.com">http://dubrawin.com</a></P>
    <P>Почта: denis.dubravin@gmail.com</P>
    <br>
{% endblock %}