{% block footer%}
    <footer class="footer" >
        <div class="container">
            <br>
            <div class="row text-left">
                <div class="col-md-offset-11 col-md-2">
                    <div class="my-navbar-text">
                        <a href="https://www.facebook.com/EQschool/?ref=br_rs" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                        <a href="#" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="#" title="Google Plus"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="row text-left" >
                <div class="col-md-offset-11 col-md-2">
                    <div class="my-navbar-text">
                        <a href="mailto:eq@gmail.com?Subject=Hello%20again" title="Google Plus"><i class="fa fa-envelope-square fa-2x"></i></a>
                        <a href="mailto:eq@gmail.com?Subject=Hello%20again" target="_top">eq@gmail.com</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" >
                <h1 class="text-muted">+38 063-356-13-57</h1>
            </div>
            <br>
            <br>
            <br>
            <div class="row" >
                <p class="text-muted">Copyright © EQ-helper 2015</p>
            </div>

        </div>
    </footer>
{% endblock %}