<!--<script>-->
<!--function on_load(){-->
    <!--render_template_week(5, 0, {{ user.id }});-->
    <!--render_template_month(5, 0, {{ user.id }});-->
<!--}-->
<!--window.onload = on_load;-->
<!--</script>-->

<br>
{% for article in article_list%}
<div class="row" >
    <div class="col-xs-4">
        <a href="/article/?id={{ article.id }}">
            <img class="img-responsive" src="{{ article.photo }}" alt="">
        </a>
    </div>
    <div class="col-xs-8">
        <a href="/article/?id={{ article.id }}"><h3>{{ article.name }}</h3></a>
        <h4>{{ article.tags }}</h4>
        <p class="text-justify">{{ article.text|truncatechars:800 }}</p>
        <a class="btn btn-primary" href="/article/?id={{ article.id }}">Детальніше <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<hr>
{% endfor %}
<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            {% if article_list.has_previous %}
            <li>
                <a href="?page={{ article_list.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="" style="pointer-events: none; cursor: default;" >&laquo;</a>
            </li>
            {% endif %}

            <li class="active">
                 <a href="?page={{ article_list.number }}">{{ article_list.number }}</a>
            </li>

            {% if article_list.has_next %}
            <li>
                <a href="?page={{ article_list.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="" style="pointer-events: none; cursor: default;">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
