{% block course %}
    <script type="text/javascript">
        $(function() {
            $("#btn_unsubscribe").click(function(){
                $(document).ready(function(){
                    $("#myModalBox").modal('show');
                });
            });
        });

        $(function() {
            $("#btn_unsubscribe_2").click(function(){
                $("#myModalBox").modal('hide');
                $.ajax({
                    url : "/unsubscribe_course/",
                    type : "GET",
                    data : {
                        course_id: '{{ course.id }}',
                        user_id: '{{ user.id }}',
                    },

                    // handle a successful response
                    success : function(json) {
                        console.log(json); // log the returned json to the console
                        console.log("Success"); // another sanity check
                    },

                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        console.log("Unsuccess"); // another sanity check
                    }
                });
                window.location = '/courses/'
            });
        });
        $(function() {
            $("#btn_subscribe").click(function(){
                console.log('Clicked btn_subscribe')
                {% if user.is_authenticated %}
                $.ajax({
                    url : "/subscribe_course/",
                    type : "GET",
                    data : {
                        course_id: '{{ course.id }}',
                        user_id: '{{ user.id }}',
                    },
                    // handle a successful response
                    success : function(json) {
                        $(document).ready(function(){
                            $("#myModalBox_subscribe").modal('show');
                        });

                    },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        console.log("Unsuccess"); // another sanity check
                    }
                });
                {% else %}
                    window.location = '/?next=/course/?id={{ course.id }}';
                {% endif %}
            });
        });

        $(function() {
            $("#btn_subscribe_2").click(function(){
                window.location = '/profile/mycourses';
            });
        });

    </script>
    <style>
    .b111 {
        background-color: #F9FAFA;
        border: 1px solid #edeff0;
        position: relative;
        padding: 5px 20px 20px 20px;
        height: inherit;
    }
    </style>
    <div class="b111">
        <div class="row" >
            <div class="col-xs-7" style="padding-right: 9px;">
                <h3 class="text-center">{{ course.name }}</h3>
                <br>
                <div class="row" >
                    <div class="col-xs-6">
                    {% if subscribe %}
                        <a class="btn btn-primary center-block" id='btn_unsubscribe' style="border-radius: 0px">Отписаться от курса</a>
                    {% else %}
                        <a class="btn btn-primary center-block" id='btn_subscribe' style="border-radius: 0px">Пройти курс</a>
                    {% endif %}
                    </div>
                    <div class="col-xs-6">
                        <span class="pull-right"><h4>{{ course.created|date:"m-d-Y" }}</h4></span>
                    </div>
                    <div class="col-xs-12">
                        {% if course.price %}
                            <span class="pull-right"><p>Стоимость курса: {{ course.price }} ₴</p></span>
                        {% else %}
                            <span class="pull-right"><p style="color: #0fd1a8">Курс бесплатный.</p></span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube" style="padding-top: 15px;">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ course.video }}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="b111">
        <p class="text-justify">
            {{ course.text|safe|linebreaks }}
        </p>
    </div>

{#    --------------------------------------------------------------------------------------------------------------#}
    <div id="myModalBox" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Заголовок модального окна -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Подтверждение</h4>
          </div>
          <!-- Основной текст сообщения -->
          <div class="modal-body">
            <p>Вы действительно хотите отказаться от дальнейшего прохождения данного курса?</p>
            <p class="text-warning"><small>Для восстановления прохождения обратитесь в техподдержку.</small></p>
          </div>
          <!-- Нижняя часть модального окна -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-primary" id='btn_unsubscribe_2' href="/unsubscribe_course/?id={{ course.id }}">Завершить прохождение</button>
          </div>
        </div>
      </div>
    </div>

    <div id="myModalBox_subscribe" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Заголовок модального окна -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Повідомлення</h4>
          </div>
          <!-- Основной текст сообщения -->
          <div class="modal-body">
            <center><p>Вітаю, Ви успішно підписались на курс! Вам на пошту буде надісланий листт з подальшими інструкціями.</p></center>
          </div>
          <!-- Нижняя часть модального окна -->
          <div class="modal-footer">
            <center><button type="button" class="btn btn-primary" id='btn_subscribe_2'>ОK</button></center>
          </div>
        </div>
      </div>
    </div>

{% endblock %}