<html>
<body>

<center><h2>Заглавие страницы - Пользовательское соглашение</h2></center>

Физическое лицо – предприниматель Дубравин Денис Владимирович, руководствуясь ст. 634 Гражданского кодекса Украины, публично предлагает неограниченному кругу лиц возможность получения информационных услуг посредством использования онлайн-сервиса [emocontrol.net], для чего публикует данное соглашение о нижеследующем:<br>
<br>
<center><b>Договор присоединения</b></center>
<br> <center><p style="font-style: italic;">об условиях использования онлайн-сервиса [emocontrol.net] и приложения для мобильных устройств [«Карманный Психолог»] </p></center>


<center><h4>ВНИМАТЕЛЬНО ПРОЧТИТЕ УСЛОВИЯ НАСТОЯЩЕГО СОГЛАШЕНИЯ!</h4></center>
 
Настоящий Договор об условиях использования онлайн-сервиса [emocontrol.net] и приложения для мобильных устройств [«Карманный Психолог»] (далее – Соглашение) распространяется на информационные услуги, предоставляемые ФЛ-П Дубравиным Д.В. посредством предоставления доступа к онлайн-сервису [emocontrol.net], а также к приложению для мобильных устройств [«Карманный Психолог»].

Настоящее Соглашение является юридически обязательным договором, заключаемым между Вами (далее – Пользователь) и ФЛ-П Дубравиным Д.В. (далее – Исполнитель), и определяет условия использования онлайн-сервиса [emotioncontrolemocontrol.net] (далее – Сайт) и приложения для мобильных устройств [«Карманный Психолог»] (далее – Приложение).

Настоящее Соглашение является договором присоединения и считается заключенным с момента, когда Вы примете его условия. Принятием условий (заключением данного Соглашения) считается осуществление Пользователем регистрации на Сайте (http://emocontrol.net/) и/или оплаты за Услуги (как они определены ниже), независимо от размера и способа оплаты, и/или использование Приложения. Соглашение действует бессрочно. 

Вы подтверждаете свое согласие с тем, что данное Соглашение имеет такую же юридическую силу, как и любой другой договор, подписанный Вами собственноручно.

В случае если между Пользователем и Исполнителем уже заключен договор о предоставлении Услуг (как они определены ниже) в письменной, но не электронной, форме, то такой договор является приоритетным по отношению к данному Соглашению.

В случае если Вы не согласны с условиями настоящего Соглашения, не регистрируйтесь на Сайте и не используйте его любым другим путем, не совершайте предварительную или любую другую оплату за Услуги, не используйте и удалите Приложение со своего устройства.

Настоящее Соглашение (Договор присоединения) публично оглашено неограниченному кругу лиц путем его размещения (публикации) на Сайте: [http://emocontrol.net/offer] и постоянно доступно для ознакомления.
<br>
<br><center><b>1. Предмет Договора</b></center>
<br>1.1 Исполнитель предоставляет Пользователю доступ к Сайту и Приложению, а Пользователь обязуется придерживаться условий использования Сайта и Приложения (данного Соглашения).
<br>1.2 По запросу Пользователя, Исполнитель за плату обязан предоставить Пользователю через Сайт доступ к курсам и другому специальному функционалу Сайта (далее – Услуги).
<br>1.3 Пользователь самостоятельно выбирает необходимый ему курс или другой дополнительный функционал из представленных на Сайте или в Приложении. По желанию Пользователя, доступ к материалам Сайта может осуществляться через Приложение.
<br>1.4 Данное соглашение регулируется правом (законодательством) Украины.
<br>
<br><center><b>2. Цена Услуг. Оплата</b></center>
<br>2.1 Цена Услуг зависит от выбранного Пользователем курса или другого дополнительного функционала и указана на соответствующих страницах Сайта.
<br>2.2 Исполнитель может односторонне изменять цену Услуг по своему усмотрению путем публикации новой цены на Сайте. Исполнитель обязан уведомлять Пользователя об изменении цены Услуг не позже чем за десять дней до вступления в силу таких изменений, если это практически возможно. Уведомление производится на адрес электронной почты, указанный Пользователем при регистрации.
<br>2.3 Услуги предоставляются Исполнителем на условиях полной предоплаты.
<br>2.4 Оплата услуг осуществляется в безналичной форме любым из способов, предложенных на Сайте. Некоторые способы оплаты Услуг могут предусматривать дополнительную комиссию или плату за услуги эквайера, агрегатора платежей, банка и т. п.
<br>
<br><center><b>3. Порядок предоставления Услуги доступа к Сайту и Приложению</b></center>
<br>3.1 Исполнитель обязуется предоставлять Пользователю доступ к оплаченному курсу или другому дополнительному функционалу на срок три месяца с даты получения оплаты. Доступ предоставляется через раздел Сайта «Личный кабинет», доступный Пользователю после регистрации на Сайте, и через Приложение.
<br>3.2 Доступ к разделу Сайта «Личный кабинет» и к Приложению защищен паролем, который был введен Пользователем или который был сгенерирован автоматически и направлен на электронную почту Пользователя.
<br>3.3 Услуга считается предоставленной надлежащим образом и в полном объеме с момента предоставления Пользователю доступа к выбранному курсу или другому дополнительному функционалу.
<br>3.4 Исполнитель имеет право производить профилактические работы, которые могут повлечь перерывы в работе и/или доступе к Сайту, в том числе к оплаченным курсам или другому дополнительному функционалу.
<br>3.5 Исполнитель имеет право производить обновление Сайта и его контента, которые могут повлечь необходимость обновить Приложение для дальнейшего доступа к Сайту через Приложение.
<br>3.6 Пользователь самостоятельно несет полную ответственность за свою интерпретацию информации полученной посредством использования Сайта.
<br>
<br><center><b>4. Гарантии Пользователя</b></center>
<br>4.1 Пользователь гарантирует, что обладает всеми необходимыми правами и полномочиями для заключения данного Соглашения и его исполнения.
<br>4.2 Пользователь гарантирует, что не имеет никаких противопоказаний, для прохождения психологических коррекционных курсов. Противопоказания:
<ol>
<li>1.Тяжелые психические расстройства:
<ul>
    <li>Шизофрения.</li>
    <li>Биполярное аффективное расстройство.</li>
    <li>ЭпилепсияКлиническая депрессия. Диссоциативное расстройство идентичности.</li>
</ul>
<li>2.Острые психические состояния, при которых необходима помощь психиатра.</li>
<li>3.Беременность.</li>
<li>4.Постинфарктные и постинсультные состояния.</li>
<li>5.Алкогольное, наркотическое опьянение и другие состояния измененного сознания, при которых человек невосприимчив к психологической коррекции и терапии.</li>

</ol>
<br>4.3 Пользователь берет на себя полную ответственность четко выполнять все инструкции и задания, получаемые им в ходе прохождения курса, для получения желаемого результата в выбранном курсе.
<br>4.4 Пользователь предоставляет Исполнителю согласие и разрешение на обработку его персональных данных, которые он предоставляет в процессе использования Сайта и/или Приложения.

<br><center><b>5. Ограничения в использовании</b></center>
<br>5.1 Пользователь имеете право использовать доступ к курсам и другому дополнительному функционалу, а также к разделу Сайта «Личный кабинет», только для собственных личных целей, не связанных предпринимательской деятельностью и/или с передачей во временное пользование своего доступа к Сайту, в том числе, посредством Приложения.
<br>5.2 Пользователь подтверждает, что ему известно, что содержание раздела Сайта «Личный кабинет» отображается для каждого пользователя по-разному и может содержать информацию об обстоятельствах личной жизни и персональные данные соответствующих пользователей.
<br>5.3 Пользователь обязан не передавать свой пароль доступа к разделу Сайта «Личный кабинет» третьим лицам и/или предоставлять доступ к разделу Сайта «Личный кабинет» третьим лицам любым другим путем. Все действия, совершенные на Сайте с использованием пароля Пользователя, считаются действиями самого Пользователя.
<br>5.4 Пользователь обязан не использовать чужие пароли и/или другим образом получать или пытаться получить доступ к разделу Сайта «Личный кабинет» третьих лиц других пользователей.
<br>5.5 Пользователь обязан не производить какие-либо действия прямо или косвенно направленные на создание сбоев в работе или прекращение работы Сайта или оборудования, с помощью которого функционирует Сайт.
<br>5.6 Пользователь обязан не использовать Сайт и Приложение иными способами, кроме ознакомления с информацией и выполнение упражнений, к которым предоставляется доступ. В частности, Пользователь обязан не копировать информацию, элементы дизайна, компьютерные программы, базы данных или другие произведения, размещенные на или входящих в состав Сайта и/или Приложения, не осуществлять и не пытаться осуществить их декомпиляцию,  или модификацию или дизассемблировать их.
<br>5.7 Исполнитель имеет право приостанавливать доступ Пользователя к Сайту или его отдельному функционалу, если производимые Пользователем действия создают угрозу для нормального функционирования Сайта.
<br>5.8. Пользователь имеет право использовать Приложение исключительно с учетом ограничений, установленных в данной статье Соглашения, и только с целью его непосредственного назначения, а именно для доступа к Сайту.
<br>5.9. Пользователь обязуется соблюдать и не пытаться обойти технические ограничения Приложения.
<br>
<br><center><b>6. Ограничения ответственности</b></center>
<br>6.1 Исполнитель не отвечает за последствия введения Пользователем неверной электронной почты при регистрации на Сайте, утерю паролей доступа, неверного выбора необходимого курса или другого дополнительного функционала, а также за последствие использования информации, полученной при использовании Сайтом.
<br>6.2 Исполнитель несет ответственность только за прямые причиненные Пользователю убытки и только в пределах сумм, уплаченных Пользователем за Услуги Исполнителя.
<br>6.3 Исполнитель не несет ответственность за другие убытки, в том числе непрямые, специальные, опосредованные или случайные убытки, а также убытки в связи с упущенной выгодой, связанные с использованием Сайта и/или Приложения.
<br>
<br><center><b>7. Изменение и расторжение Соглашения</b></center>
<br>7.1 Пользователь может расторгнуть это Соглашение по собственному желанию. Расторжение Соглашения Пользователем не обязывает Исполнителя возмещать Пользователю уплаченные за Услуги средства, а также любые другие расходы.
<br>7.2 Исполнитель может расторгнуть Соглашение с Пользователем в одностороннем порядке и отказать Пользователю в заключении нового Соглашения, в случае нарушения Пользователем условий Соглашения, гарантий, указанных в статье 4 данного Соглашения, или попыток Пользователя нанести ущерб Исполнителю или другим пользователям Сайта.
<br>7.3 Исполнитель имеет право внести изменения в данное Соглашение в одностороннем порядке в любой момент по своему усмотрению. Об изменении Соглашения Пользователь уведомляется посредством размещения информации на Сайте или на адрес электронной почты, указанный Пользователем при регистрации.
<br>7.4. Принятием изменений к Соглашению считается, в том числе, но не только, любое использование Пользователем  Сайта (http://emocontrol.net/) и/или Приложения и/или оплата Услуг после получения уведомления о таких изменениях на адрес электронной почты или размещения соответствующей информации на Сайте.
<br>
<br><center><b>8. Политика возврата денежных средств</b></center>
<br>8.1 Если Пользователь оплатил курс или другой дополнительный функционал, но его что-то не устраивает в работе такого курса или другого дополнительного функционала, или он передумал пользоваться приобретенным курсом или другим дополнительным функционалом и хочет вернуть себе уплаченные денежные средства, то Пользователь может направить соответствующий запрос в Службу поддержки Исполнителя на адрес [psyhologist@gmail.com]
<br>8.2 В случае получения запроса на возврат уплаченных средств, Исполнитель предложит Пользователю равноценный по цене обмен на иной дополнительный функционал.
<br>8.3 Если Пользователь отказывается от обмена и требует возврата денежных средств, то Исполнитель возвращает денежные средства за фактически неиспользованный срок пользования Дополнительным функционалом (пропорционально количеству неиспользованных дней) за вычетом комиссии платёжной системы, при этом срок обращения за возвратом значения не имеет.
<br>8.4 В обмене и возврате денежных средств Исполнитель может отказать:
<br>8.4.1 Если Пользователь изучил содержание приобретенного курса или другого дополнительного функционала (пытался или прошел упражнения, тренировки) более чем на 10%.
<br>8.4.2 Если был куплен комплект из нескольких курсов или единиц дополнительного функционала, продаваемых как единое целое и/или в предложении о покупке было прямо указано, что по этому предложению обмен и возврат не производятся.
<br>8.4.3 Если такой курс или другой дополнительный функционал получен Пользователем бесплатно.
<br>8.5 Для осуществления возврата Пользователь должен прислать сканы с разрешением не меньше 200dpi таких документов - паспорта с разрешением не меньше 200dpi, скан справки о присвоении регистрационного номера учетной карточки плательщика налогов и скан заявления на возврат с указанием банковских реквизитов по форме, которую Исполнитель должен предоставить Пользователю по первому требованию.
<br>
<br>
<br>Реквизиты лица, предлагающего заключить соглашение
<br>ФЛ-П Дубравин Д.В. 
<br>Адрес: [121087], г. Киев. Улица Толбухина 7 
<br>ИНН 2942308853
<br>Номер записи о регистрации в ЕГР - 20260000000021290
<br>Телефон +38 (093)5939916

</body>
</html>