<html>
<body style="background-color: #93CCDD">
<center> <h2>Ваш «Карманный Психолог» приветствует Вас!</h2></center>
<br>

Этот курс является платным, стоимость которого составляет: {{ course.price }} грн | {{ course.price_dol }} дол | {{ course.price_rub }} руб. Для завершения подписки необходимо выполнить следующие действия:
<ol>
    <li>Оплатить курс одним из ниже указанных способов:
        <ul>
            <li>На карту Приват Банка: 5168755522472113 Дубравін Денис</li>
            <li>Интеркасса:</li>
            <li>ЯндексДеньги:</li>
            <li>WebMoney:</li>
        </ul>
        * Прямая оплата на карточный счет через терминалы ПриватБанка (только для жителей Украины):
    </li>
    <li>Сообщить администратору о произведенном платеже:
        <ul>
            <li>Отправив сообщение на email eq@eq.com с текстом: "Пользователь {{ user.email }} оплатил {{ course.name }}.".</li>
        </ul>
    </li>
    <li>Дождаться подтверждения от администратора, не более 48 часов с момента отправки Вашего запроса.</li>
    <li>Ежедневно, на протяжении курса «{{ course.name }}», Вам на почту будут приходить письма с уроками от Вашего «Карманного Психолога». Выполняя их, Вы будете продвигаться в своем психологическом решении.</li>
</ol>


<br>
<br>
<div align="right">С пожеланиями эмоционального благополучия,<br>
Команда <a href="https://www.facebook.com/PsychologistPocket">«Карманный Психолог»</a>.</div>
<br>
<center>
    <a href="http://www.emocontrol.net/"><img src="http://www.emocontrol.net/static/img/index_new/logo.png" alt="Emotion Control"></a>
</center>
<br>
</body>
</html>