<html>
<body>
<center> <h2>Поздравляю, Вы подписались на прохождение курса: {{ course.name }}</h2></center>
<br>
Этот курс является платным, стоимость которого составляет: {{ course.price }} у.е. Для завершения подписки необходимо выполнить следующие действия:
<ol>
    <li>Помочь одним из ниже указанных способов:
        <ul>
            <li>На карту ПриватБанку №41** **** **** **11, Фамилия Д. Б.</li>
            <li>На карту ДругогоБанку №42** **** **** **12, Фамилия Д. Б.</li>
            <li>На карту ТретьогоБанку №43** **** **** **13, Фамилия Д. Б.</li>
        </ul>
    </li>
    <li>Сообщить администратору о произведенном платеже одним из ниже указанных способов:
        <ul>
            <li>Отправив сообщение на email eq@eq.com с текстом: "Пользователь user@gmail.com оплатил{{ course.name }}.".</li>
            <li>Отправив CMC на номер +380 *** **** ** с текстом: "Пользователь user@gmail.com оплатил {{ course.name }}.".</li>
        </ul>
    </li>
    <li>Дождаться подтверждения от администратора, не более 48 часов с момента отправки запроса.</li>
    <li>Наслаждаться курсом: {{course.name}}, на почту будут приходить ежедневные письма с уроками.</li>
</ol>


<br>
<br>
<div align="right">Спасибо, с наилучшими пожеланиями команда<a href="http://www.emocontrol.net/">EmoControl</a>.</div>
<br>
<center>
    <a href="http://www.emocontrol.net/"><img src="http://www.emocontrol.net/static/img/index_new/logo.png" alt="Emotion Control"></a>
</center>
<br>
</body>
</html>