<html>
<body>
<center> <h2>Вітаю, Ви підписались на проходження курсу: {{ course.name }}</h2></center>
<br>
Цей курс являється безкоштовним, далі на Вашу пошту приходитимуть щоденні листи з уроками.
<br>
Очікуйте на перший урок в особистому кабінеті, на пошті та в мобільному додатку.
<br>
Насолоджуватесь курсом :)

<br>
<br>
<div align="right">Дякуємо, з найкращими побажаннями команда <a href="http://www.emocontrol.net/">EmoControl</a>.</div>
<br>
<center>
    <a href="http://www.emocontrol.net/"><img src="http://www.emocontrol.net/static/img/index_new/logo.png" alt="Emotion Control"></a>
</center>
<br>
</body>
</html>