<html>
<body>
<center> <h2>Поздравляю, Вы подписались на прохождение курса: {{ course.name }}</h2></center>
<br>
Этот курс является бесплатным, далее на почту будут приходить ежедневные письма с уроками.
<br>
Ожидайте первый урок в личном кабинете, на почте и в мобильном приложении.
<br>
Наслаждайтесь курсом :)

<br>
<br>
<div align="right">Спасибо, с наилучшими пожеланиями команда<a href="http://www.emocontrol.net/">EmoControl</a>.</div>
<br>
<center>
    <a href="http://www.emocontrol.net/"><img src="http://www.emocontrol.net/static/img/index_new/logo.png" alt="Emotion Control"></a>
</center>
<br>
</body>
</html>