<html>
<body>
<center> <h2>Вітаю, Ви підписались на проходження курсу: {{ course.name }}</h2></center>
<br>
Цей курс являється платним, вартість якого складає: {{ course.price }} у.о. Для завершення підписки потрібно виконати наступні дії:
<ol>
    <li>Переказати кошти одним із нижче зазначених способів:
        <ul>
            <li>На карту ПриватБанку №41** **** **** **11, Прізвище Д. Б.</li>
            <li>На карту ДругогоБанку №42** **** **** **12, Прізвище Д. Б.</li>
            <li>На карту ТретьогоБанку №43** **** **** **13, Прізвище Д. Б.</li>
        </ul>
    </li>
    <li>Повідомити адміністратора про здійснений платіж одним із нижче зазначених способів:
        <ul>
            <li>Надіславши повідомлення на email eq@eq.com з текстом: "Користувач user@gmail.com оплатив {{ course.name }}.".</li>
            <li>Надіславши CMC повідомлення на номер +380*** **** ** з текстом: "Користувач user@gmail.com оплатив {{ course.name }}.".</li>
        </ul>
    </li>
    <li>Дочекатись підтвердження від адміністратора, не більше 48 годин, з моменту надсилання запиту.</li>
    <li>Насолоджуватись курсом: {{ course.name }}, на Вашу пошту приходитимуть щоденні листи з уроками.</li>
</ol>


<br>
<br>
<div align="right">Дякуємо, з найкращими побажаннями команда <a href="http://www.emocontrol.net/">EmoControl</a>.</div>
<br>
<center>
    <a href="http://www.emocontrol.net/"><img src="http://www.emocontrol.net/static/img/index_new/logo.png" alt="Emotion Control"></a>
</center>
<br>
</body>
</html>