<html>
    <body>
        <center><h3>Приветствую, очередной урок под номером {{ lesson.number }} по курсу {{ lesson.course }} под названием: {{ lesson.name }}.</h3></center>
        <center><h4>Вы должны ознакомиться и выполнить следующее:</h4></center>
        <br>
        <p>{{ lesson.text }}</p>
        <br>
        <br>
        <div align="right">Спасибо, с наилучшими пожеланиями команда <a href="http://www.emocontrol.net/">EmoControl</a>.</div>
        <br>
        <center>
            <a href="http://www.emocontrol.net/"><img src="http://www.emocontrol.net/static/img/index_new/logo.png" alt="Emotion Control"></a>
        </center>
        <br>
    </body>
</html>