<html>
    <body style="background-color: #93CCDD">
        <center><h3> Сегодня выполни урок {{ lesson.number }} в курсе {{ lesson.course }} под названием: {{ lesson.name }}.</h3></center>
        <br>
        <p>{{ lesson.text|safe }}</p>
        <br>
        <br>
        <div align="right">С пожеланиями эмоционального благополучия, твой «<a href="http://www.emocontrol.net/">Карманный Психолог</a>».</div>
        <br>
        <center>
            <a href="http://www.emocontrol.net/"><img src="http://www.emocontrol.net/static/img/index_new/logo.png" alt="Карманный Психолог"></a>
        </center>
        <br>
    </body>
</html>