<html>
Вітаю, {% if user.first_name != ''%} {{ user.first_name }} {% else %} {{ user.email }} {% endif %}:)
Знову прийшов час підбити підсумки щодо твоєї праці протягом останнього місяця. Ось що ми зауважили стосовно тебе:
<br>
<br>
<div id="id_text">
{% verbatim %}
{{ text }}
{% endverbatim %}
</div>

<br>
А тут, нажавши на
<a href="{{ hostname }}/report_graph?user_id={{ user.id }}&date_start={{ date_start }}&date_end={{ date_end }}">посилання</a>
, ти можеш переглянути графік твого щоденника емоцій протягом останнього тижня.
</html>