<html>
    <body style="background-color: #93CCDD">
        <center><h3>Изменение пароля.</h3></center>
        <br>
        Уважаемый {% if user.first_name != ''%} {{ user.first_name }} {% else %} {{ user.email }} {% endif %}, в рамках безопасности, сообщаем Вам, что пароль на сайте www.emocontrol.net был изменен. Если это были не Вы, обратитесь в службу поддержки.
        <br>
        <br>
        <div align="right">С пожеланиями эмоционального благополучия, твой «<a href="http://www.emocontrol.net/">Карманный Психолог</a>».</div>
        <br>
        <center>
            <a href="http://www.emocontrol.net/"><img src="http://www.emocontrol.net/static/img/index_new/logo.png" alt="Карманный Психолог"></a>
        </center>
        <br>
    </body>
</html>