{% load staticfiles %}
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script> {# For spider #}

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script>
        $(function () {
            $('#container_1').highcharts({
                chart: {
                    polar: true,
                    type: 'column'
                },
                data: {
                    table: 'freq',
                    startRow: 1,
                    endRow: 17,
                    endColumn: 10
                },
                title: {
                    text: 'Эмоции'
                },
                colors: ['#3ba440', '#01a4c7', '#0b72ac', '#614888', '#c52981', '#c5498c', '#e9592d', '#ee8c32', '#ecc83d', '#A47D7C', '#a0c53b'],
                pane: {
                    size: '70%'
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    y: 100,
                    layout: 'vertical'
                },
                xAxis: {
                    tickmarkPlacement: 'on'
                },
                yAxis: {
                    min: 0,
                    endOnTick: false,
                    showLastLabel: true,
                    title: {
                        text: ' '
                    },
                    labels: {
                        formatter: function () {
                            return this.value + ' ';
                        }
                    },
                    reversedStacks: false
                },
                tooltip: {
                    valueSuffix: ' '
                },
                plotOptions: {
                    series: {
                        stacking: 'normal',
                        shadow: false,
                        groupPadding: 0,
                        pointPlacement: 'on'
                    }
                }
            });
        });
{# SECOND GRAPH #}
        $(function () {
            var gaugeOptions = {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                pane: {
                    center: ['50%', '85%'],
                    size: '140%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                // the value axis
                yAxis: {
                    stops: [
                        [0.1, '#ffa000'], // green
                        [0.5, '#ffa000'], // yellow
                        [0.9, '#ffa000'] // red
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    title: {
                        y: -70
                    },
                    labels: {
                        y: 16
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                }
            };
            // The speed gauge
            $('#container_2_1').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Уровень счастья'
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Speed',
                    data: [Math.round({{ confidence_reports }} * 100 / {{ confidence_reports_total }})],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                               '<span style="font-size:12px;color:silver">%</span></div>'
                    },
                    tooltip: {
                        valueSuffix: ' mk/h'
                    }
                }]
            }));
            // The speed gauge
            $('#container_2_2').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    stops: [
                        [0.1, '#26c6da'], // green
                        [0.5, '#26c6da'], // yellow
                        [0.9, '#26c6da'] // red
                    ],
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Эффективность'
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Speed',
                    data: [Math.round({{ subjectivity_reports }} * 100 / {{ subjectivity_reports_total}})],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                               '<span style="font-size:12px;color:silver">%</span></div>'
                    },
                    tooltip: {
                        valueSuffix: ' mk/h'
                    }
                }]
            }));
        });

        $(function () {
            $('#container_2_3').highcharts({
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 60,
                        beta: 0
                    }
                },
                title: {
                    text: 'Subjectivity'
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 25,
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: [
                        ['UnSubjective', {{ subjectivity_reports_total }} - {{ subjectivity_reports }}],
                        {
                            name: 'Subjective',
                            y: {{ subjectivity_reports }},
                            sliced: true,
                            selected: true
                        }
                    ]
                }]
            });
        });
        function myFunction(name, number, text) {
            $('#ModelLessonHeader').text(number + '. ' + name)
            $('#ModelLessonText').text(text)
            $('#ModalLesson').modal('show')
        }
    </script>
    <div class="container-fluid" style="background-color: #f9f9f9;">
        <div class="navbar-brand">
            <a href="/">EQ-trainer</a>
        </div>
        <center><h3>{{date_start|date:"M d, Y"}} ... {{date_end|date:"M d, Y"}}</h3></center>
    </div>
    <br>
    <div class="row" >
        <div class="col-xs-7">
            <div id="container_1" style="min-width: 420px; max-width: 600px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-xs-5">
            <div id="container_2_1" style="height: 200px"></div>
            <div id="container_2_2" style="height: 200px"></div>
        </div>
    </div>

<div style="display:none">
    <!-- Source: http://or.water.usgs.gov/cgi-bin/grapher/graph_windrose.pl -->
    <table id="freq" border="0" cellspacing="0" cellpadding="0">
        <tr nowrap bgcolor="#CCCCFF">
            <th colspan="{{ emotion_activity|length }}" class="hdr">Table of Frequencies (percent)</th>
        </tr>

        <tr nowrap bgcolor="#CCCCFF">
            <th class="freq">Direction</th>
            {% for key, name in user_activity %}
                <th class="freq">{{ name }}</th>
            {% endfor %}
            <th class="freq">Всего</th>
        </tr>
        {% for name, value in emotion_activity %}
            <tr nowrap>
                <td class="dir">{{ name }}</td>
                {% for i in value %}
                    <td class="data">{{ i }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
</html>