<html>
<body style=" font-family: 'Fira Sans';
  src: url(http://www.emocontrol.net/static/fonts/fira-sans/FiraSans-Regular.otf); font-size:100%; color:#2e2e2e;
  background-image: url(http://www.emocontrol.net/static/img/index_new/header-bg30.png);">
    <center>
        <img src="http://www.emocontrol.net/static/img/index_new/logo.png" alt="Emotion Control">
    </center>
    <br>
Приветствуем  вас {% if user.first_name != ''%} {{ user.first_name }} {% else %} {{ user.email }} {% endif %}. Пришло время подвести итоги вашего эмоционального графика за прошлую неделю. Изучите его внимательно и сделайте необходимые выводы.
А также запланируйте, каких чувств Вы хотите добавить в свою новую неделю и на какие сферы жизни стоит обратить больше внимания?
<br>
<div id="id_text">
{% verbatim %}
{{ text|linebreaks }}
{% endverbatim %}
</div>
<br>
А тут, нажавши на
<a href="{{ hostname }}/report_graph?user_id={{ user.id }}&date_start={{ date_start }}&date_end={{ date_end }}">посилання</a>
, ти можеш переглянути графік твого щоденника емоцій протягом останнього тижня.
  <center><a href="{{ hostname }}/report_graph?user_id={{ user.id }}&date_start={{ date_start }}&date_end={{ date_end }}">
    <img src="http://www.emocontrol.net/static/img/index_new/infograph3.png" alt="You can see your graph." style="width:200px;">
  </a></center>
<br>
    {% if recommend_course_1 %}
        <hr>
        <center><h2> Ось рекоменовані для вас Курси: </h2> </center>
        <ul>
            {% if recommend_course_1 %}
                <li><a href="{{ hostname }}/course?id={{ recommend_course_1.id }}">{{ recommend_course_1.name }}</a></li>
            {% endif %}
            {% if recommend_course_2 %}
                <li><a href="{{ hostname }}/course?id={{ recommend_course_2.id }}">{{ recommend_course_2.name }}</a></li>
            {% endif %}
            {% if recommend_course_3 %}
                <li><a href="{{ hostname }}/course?id={{ recommend_course_3.id }}">{{ recommend_course_3.name }}</a></li>
            {% endif %}
        </ul>
    {% endif %}
<br>
<a href="{{ hostname }}/unsubscribe_mailing?user_id={{ user.id }}">Відписатись від розсилки</a>
</body>
</html>